* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.inner-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.content {
    background-color: rgb(47, 103, 255);
    border: 1px solid white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white;
}

.inner-content {
    background-color: lightgreen;
    border: 1px solid rgb(47, 103, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.m-b-30 {
    margin-bottom: 30px;
}

