* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100svw;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.inner-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.content {
    background-color: rgb(47, 103, 255);
    border: 1px solid white;
    height: 100px;
}

.content-bonus {
    /* border: 1px solid black; */
    height: calc(100svw / 16);
}

.inner-content {
    background-color: lightgreen;
    border: 1px solid rgb(47, 103, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.m-b-30 {
    margin-bottom: 30px;
}

.container:hover .bg-green {
    background-color: rgb(189, 0, 0);
}

/* BACKGROUND COLOR */

.bg-blue {
    background-color: #004FFF;
}

.bg-green {
    background-color: #55CB15;
}

.bg-grey {
    background-color: #2D2B1C;
}

